@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tiêu đề */
/* h1 {
  margin-bottom: 30px;
  color: #333; 
} */

/* Lưới ghế */
.seat-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  /* Tự động điều chỉnh cột */
  gap: 10px;
  /* Khoảng cách giữa các ghế */
}

/* Ghế */
.seat {
  position: relative;
  /* width: 60px; /* Chiều rộng của ghế */
  height: 60px;
  /* Chiều cao của ghế */
  border: 2px solid #007bff;
  /* Đường viền */
  border-radius: 5px;
  /* Bo góc cho ghế */
  background-color: #ffffff;
  /* Nền ghế */
  transition: background-color 0.3s;
  /* Hiệu ứng chuyển màu */
}

.seat:hover {
  background-color: #e7f4ff;
  /* Màu nền khi hover */
}

/* Checkbox */
/* input[type="checkbox"] {
  position: absolute;
  opacity: 0; 
  cursor: pointer; 
} */

/* Nhãn ghế */
/* label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007bff; 
  font-weight: bold; 
} */

/* Khi checkbox được chọn */
/* input[type="checkbox"]:checked + label {
  color: #fff;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
} */

.movie-container {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.movie-poster {
  flex: 0 0 250px;
  margin-right: 20px;
}
.poster-img {
  width: 100%;
  border-radius: 8px;
}
.movie-details {
  flex: 1;
}
.movie-title {
  font-size: 24px;
  font-weight: bold;
  color: rgb(51, 122, 183);
}
.movie-description {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
.movie-info p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
.showtimes p {
  font-size: 16px;
  margin-top: 10px;
}
.buy-ticket-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.buy-ticket-btn:hover {
  background-color: #0056b3;
}

/* phần css comment */
/* Đảm bảo không bị viền thừa ở giữa phần comment */
.textarea-style {
  border-radius: 8px; /* Bo tròn góc */
  padding: 12px 20px;
  font-size: 14px;
}

.button-style {
  height: 48px; /* Đảm bảo nút có chiều cao hợp lý */
  padding-left: 24px;
  padding-right: 24px;
}

.comment-box {
  border-top: 1px solid #ccc; /* Border trên */
  border-bottom: 1px solid #ccc; /* Border dưới */
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.user-icon {
  color: #3b82f6;
  font-size: 20px;
}

.comment-user-name {
  font-weight: bold;
  font-size: 16px;
}

.comment-text {
  color: #6b7280;
  font-size: 14px;
}

